@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;600&display=swap");
/*font weights: 200, 400, 600 */

*/ :root {
  --bg: #e5e5e5;
  --font-color: #3c405b;
  --brown: #a6785e;
  --mint-blue: #728a8e;
  --navy-blue: #3c405b;
  --broken-white: #f6f8f7;

  --para-font: "Lexend Deca", sans-serif;
}

/* Cusotmise me page */
